
@charset "utf-8";
/* CSS Document */

*{
	box-sizing: border-box;
	
}
*:not(h1){
  
  overflow:auto;
}


.center{
	text-align:center;
}
html h1{
	font-size: 47px;
	margin-top: 0px;
	margin-bottom: 25px;
	color: deeppink;
	
}

h2{
	font-size: 47px;
	margin-top: 0px;
	margin-bottom: 25px;
	color: deeppink;
	
}

p{
	font-size: 20px;
}

body{
	margin: 0px;
}

/*--------------------------------------------------------*/
header{
	z-index:999;
	height: 100px;
	position: fixed;
	width: 100%;
	background-color:rgba(0,0,0,0.92);/*------------------------------------------Color 1-----------------------------*/
	/*box-shadow: 0px 0px 10px 2px black;*/ 
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom:25px;
	padding-top:25px;
}
div#logo{
	width:30%;
	height:100%;
	float:left;
	
}
#logo h1{
	font-size: 40px;
	margin-top:0px;
	margin-bottom: 0px;
	padding:0px;
	color: deeppink;
}
div.nav-container{
	
	width:70%;
	float:right;
	display:block;
	height:50px;
	
}

#menu-icon{
	height:40px;
}
.active{
	text-decoration:underline;
}
nav{
	height:100%;
	margin-top:10px;
	max-height:40px;
	float: right;
	font-size:20px;
	color:white;
	display:block;
	
}
nav a{
	line-height:29px;
	white-space:0px;
	font-size:25px;
	margin;:0px;
	padding:0px;
	display:inilne-block;
	color: deeppink;
	
}
button#dropdown-button  {
  background-color: rgba(255,255,255,1.00);
  text-decoration: none;
  outline:none;
  border: none;
  box-shadow: none;
  display:none;
  
  
}



#dropdown-button-container{
	display:none;
	
	
}








nav a:hover{
	
	text-decoration: underline;
	color: lightpink;
}



/*-------------------------------------------------------------------------*/



main{
	width:100%;
}
#content{
	min-height:1000px;
}

#content article{
	margin-bottom: 20px;
	margin-top: 20px;
	
}
img{
	max-width: 100%;
	height: auto;
	
	
}
#background_image{
	
	padding-bottom: 50px;
	
	z-index: 1px;
	
}
#background_image img{
	margin-bottom: 0px;
	/*box-shadow: 0px 0px 10px 2px black; */
	
	
}
.two_col_1{
	float: left;
	width:50%;
}
.two_col_2{
	float: right;
	width:50%;
}
.three_col_1{
	float: left;
}
.three_col_2{
	float: left;
}
.three_col_3{
	float:right;
}
#content{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	
}
#bio{
	min-height: 400px;
	/*background-color: aqua;*/
	margin-top: 0px;
	overflow: auto;
	
}
#smaller_show{/*DO NOT show when screen is greater than 620px*/
	display: none;
}
#smaller_hide{/* DO show when screen is greater than 620px*/
	display: inline-block;
}


#headshot{
	width: 70%;
	height: auto;
	margin-left: 20%;
}

#selling_points{
	min-height: 300px;
	/*background-color:blanchedalmond;*/
}

#slideshow{
	max-height: 700px;
}
/*-------------------------------------------Slideshow-----------------------------------------*/
				
				#myCarousel{
					height:100%;
				}
				span.glyphicon.glyphicon-chevron-right , span.glyphicon.glyphicon-chevron-left {
					height:100%;
					overflow:hidden;
					height:40px;
					width:40px;
				}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
#reviews{
	min-height: 250px;
	/*background-color:hotpink;*/
	text-align: center;
	
}
.review-information{
	text-align: center;
}
img.review-picture{
	
}
h6.review-name{
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 18px;
}
p.review-date{
	margin-top: 0px;
	font-size: 12px;
	color: rgba(128,128,128,1.00)/*----------------------------------------------------------------COLOR----------------------------------------------------------*/
}
.review-picture{
	width: 100px;
	height: auto;
}
.quote{
	
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}


#contact-button{
	background-color: rgba(255,255,255,1.00);
  text-decoration: none;
  outline:none;
  border: none;
  box-shadow: none;
}
#contact-button button{
	min-height: 100px;

}

form.link-button{
margin-top: 50px;
margin-bottom: 50px;
width: 300px;
padding: 20px;
cursor: pointer;
font-weight: bold;
font-size: 150%;
background:rgba(0,0,0,0.00);
color:deeppink;/*------------------------------------------------------COLOR---------------------------------*/
border: 1px solid deeppink;/*------------------------------------------------------COLOR---------------------------------*/
border-radius: 20px;
	
	
}

form.link-button:hover {


border: 2px solid deeppink;/*------------------------------------------------------COLOR---------------------------------*/
}

#badges{
	min-height: 300px;
	background-color:orangered;
}


div.gallery{
	padding:5%;
}
div.gallery img{
	width:33.33%;
	margin:0px;
	padding:0px;
	float:left;
	transition:.5s;
}
div.gallery img:hover{
	
	transform: scale(1.05);
}
.has_2_col section{
	width:50%;
	padding: 10px
}
.has_3_col section{
	width:33.333%;
	padding: 10px
}


footer{
	height: 100px;
	background-color:gray;
	
}
footer center{
	margin-top:35px;
}
footer a{
	margin-left: 50px;
	margin-right: 50px;
	font-size: 20px;
}



#contact{
	margin-left:12%;
	margin-right:12%;
}	

#phone_number{
	width:100%;
	
}
input#name{
	float:left;
	width:98%;
}
input#phone_number{
	float:right;
	width:98%;
	
}
input#email{
	width:100%;
	
}
input, textarea{
	border-radius: 4px;
}
textarea{
	
	min-width:100%;
	min-height:200px;
	
}
input[type=text]{
	border: 1px solid #ccc;
  border-radius: 4px;
}

center input[type=submit]{
	width:100%;
	height:50px;
	border: 2px solid deeppink;
	border-radius: 6px;
	background-color: white;
	font-size:20px;
}
input[type=submit]:hover {
 //* background-color:-------------------get darker color*/
 
 border-width:3px;
}
div#information div.has_2_col, div#email-container{
	margin-bottom:10px;
	
}


@media only screen and (max-width:620px){
	header{
		height:auto;
	}
	div#logo{
		width:80%;
	}
	nav span.bar{
		display:none;
	}
	
	nav::-webkit-scrollbar 
	{ 
    display: none; 
	}

	div.nav-container{
		display:none;
		width:100%;
		height:100%;
		overflow:none;
		
	
	}
	nav{
		max-height:none;
		height:100%;
		float:none;
		text-align:center;
		overflow:show;
		
	
	}
	nav a{
		width:100%;
		display:inline-block;
	}
	
	
	button#dropdown-button{
		background-color:255,255,255;
		display:inline-block;
		width:20%;
	
	

		background-color: purple;
		width:40px;
		height:40px;
		float:right;
		margin-right:30px;
		
		
	}
	
	#dropdown-button-container{
		display:inline-block;
		position:absolute;
		height:100%;
		max-height:44px;
		width:20%;
		float:right;
		margin-right:0px;
		
	
	
	
	}	
	
	
	
	
	
	
	#background_image{
	
	padding-bottom: 50px;
	margin-top:100px;
	z-index: 1px;
	
	}
	#content{
		margin-top: 10px;
		margin-top:100px;
	}
	
	#content article section{
		width: 100%;
	
	}
	

	#badges{
		display: none;
	}
	#headshot{
		width: 30%;
		margin-left: 35%;
		margin-right: 30%;
	}
	#smaller_show{/*DO show when screen is greater than 620px*/
	display:inline-block;
	}
	#smaller_hide{/*DO NOT show when screen is greater than 620px*/
	display: none;
}
	
}
