{% extends 'static/skeleton.html' %}
{% load staticfiles %}
	{% block content %}
		<main>
			<div id="content">
				<noscript>
					<link href="/static/CSS/java-disabled.css" type="text/css" rel="stylesheet">
				</noscript>
				Have a question, concern, or other inquiry? Contact Fran here!
				{% for form in forms %}
					<form method="POST">
						{% csrf_token %}
						{{ form }}
						<input type="hidden" name="form_type" value="client_inquiry_form">
						<input type="submit"> 
					</form>
				{% endfor %}
				{% if user.is_superuser %}
					{% for inquiry in inquiries %}
					<h3>From {{inquiry.client_name}}: {{inquiry.client_email}}</h3>
					<p>{{inquiry.body}}</p>
					<span></span>
					{% endfor %}
				{% endif %}
			</div>
		</main>
	{% endblock %}