{% extends 'static/skeleton.html' %}
{% load staticfiles %}
	{% block content %}
		<main>
		
			<div id="content">
				
				<article id="contact">
				<center><h1>Contact</h1></center>
				{% for form in forms %}
					<form method="POST">
						{% csrf_token %}
						<input type="hidden" name="form_type" value="client_inquiry_form">
							<div id="information">
								<div class="has_2_col">
									<div id="name_container" class="two_col_1">
										{{ form.client_name }}
									</div>
								
									<div id="phone-number-container" class="two_col_2">
										{{ form.client_number }}
									</div>
								
								
								</div>
								<div id="email-container">
									{{ form.client_email }}
								</div>
									 
							</div>
							<div id="message-container">
							
							{{ form.body }}
						
							</div>
							<center><input id="form-submit" type="submit"></center>
					
						
						
					</form>
				{% endfor %}
				</article>
				
				
				
				
				
			</div>
		</main>
		{% endblock %}
