{% extends 'website-1.0/skeleton.html' %}
{% load staticfiles %}
	{% block content %}
		<main>
			<div id="content">
				<div class="gallery">
					<a href="/static/ASSETS/gallery/gallery_large (1).jpg" data-lightbox="mygallery"><img src="/static/ASSETS/gallery/thumnail/gallery_small (1).jpg"></a>
					<a href="/static/ASSETS/gallery/gallery_large (2).jpg" data-lightbox="mygallery"><img src="/static/ASSETS/gallery/thumnail/gallery_small (2).jpg"></a>
					<a href="/static/ASSETS/gallery/gallery_large (3).jpg" data-lightbox="mygallery"><img src="/static/ASSETS/gallery/thumnail/gallery_small (3).jpg"></a>
					<a href="/static/ASSETS/gallery/gallery_large (4).jpg" data-lightbox="mygallery"><img src="/static/ASSETS/gallery/thumnail/gallery_small (4).jpg"></a>
					<a href="/static/ASSETS/gallery/gallery_large (5).jpg" data-lightbox="mygallery"><img src="/static/ASSETS/gallery/thumnail/gallery_small (5).jpg"></a>
					<a href="/static/ASSETS/gallery/gallery_large (6).jpg" data-lightbox="mygallery"><img src="/static/ASSETS/gallery/thumnail/gallery_small (6).jpg"></a>
					<a href="/static/ASSETS/gallery/gallery_large (7).jpg" data-lightbox="mygallery"><img src="/static/ASSETS/gallery/thumnail/gallery_small (7).jpg"></a>
					<a href="/static/ASSETS/gallery/gallery_large (8).jpg" data-lightbox="mygallery"><img src="/static/ASSETS/gallery/thumnail/gallery_small (8).jpg"></a>
					<a href="/static/ASSETS/gallery/gallery_large (9).jpg" data-lightbox="mygallery"> <img src="/static/ASSETS/gallery/thumnail/gallery_small (9).jpg"></a>
					<a href="/static/ASSETS/gallery/gallery_large (10).jpg" data-lightbox="mygallery"><img src="/static/ASSETS/gallery/thumnail/gallery_small (10).jpg"></a>
					<a href="/static/ASSETS/gallery/gallery_large (11).jpg" data-lightbox="mygallery"><img src="/static/ASSETS/gallery/thumnail/gallery_small (11).jpg"></a>
					<a href="/static/ASSETS/gallery/gallery_large (12).jpg" data-lightbox="mygallery"><img src="/static/ASSETS/gallery/thumnail/gallery_small (12).jpg"></a>
					<a href="/static/ASSETS/gallery/gallery_large (13).jpg" data-lightbox="mygallery"><img src="/static/ASSETS/gallery/thumnail/gallery_small (13).jpg"></a>
					<a href="/static/ASSETS/gallery/gallery_large (14).jpg" data-lightbox="mygallery"><img src="/static/ASSETS/gallery/thumnail/gallery_small (14).jpg"></a>
					<a href="/static/ASSETS/gallery/gallery_large (15).jpg" data-lightbox="mygallery"><img src="/static/ASSETS/gallery/thumnail/gallery_small (15).jpg"></a>
					<a href="/static/ASSETS/gallery/gallery_large (16).jpg" data-lightbox="mygallery"><img src="/static/ASSETS/gallery/thumnail/gallery_small (16).jpg"></a>
					<a href="/static/ASSETS/gallery/gallery_large (17).jpg" data-lightbox="mygallery"><img src="/static/ASSETS/gallery/thumnail/gallery_small (17).jpg"></a>
					<a href="/static/ASSETS/gallery/gallery_large (18).jpg" data-lightbox="mygallery"><img src="/static/ASSETS/gallery/thumnail/gallery_small (18).jpg"></a>
					<a href="/static/ASSETS/gallery/gallery_large (19).jpg" data-lightbox="mygallery"><img src="/static/ASSETS/gallery/thumnail/gallery_small (19).jpg"></a>
					<a href="/static/ASSETS/gallery/gallery_large (20).jpg" data-lightbox="mygallery"><img src="/static/ASSETS/gallery/thumnail/gallery_small (20).jpg"></a>
					
				</div>
			</div>
		</main>
	{% endblock %}
