{% extends 'static/skeleton.html' %}
{% load staticfiles %}
	{% block content %}
		<main>
			<div id="content">
				<article id="bio" class="has_2_col">
				
				
					<center>
						<h1 class="services" >Services</h1>
					</center>
					
					<section class="two_col_1">
					
						<img src="/static/ASSETS/services/makeup.jpg">
						<center><h2 class="services" id="makeup">Makeup Services</h2></center>
						<p>
							In this example each column spans two units, making things a
						little more challenging than the three column grid. It splits up
						each column of a three column grid into two further columns. The
						six column grid provides you with more options and opportunities
						to fine tune smaller details. If you are working on a content-rich
						site and need to park a lot of information, a six column grid could
						be a smart starting point for experimentation. Since it maybe an
						advanced grid, I would maybe not recommend starting out with it on
						your first rodeo.
						</p>
					</section>
					
					<section class="two_col_2">
						
						<img src="/static/ASSETS/services/lash-extention.jpg">
						<center><h2 class="services" id="lash-extention">Lash Extention Services</h2></center>
						<p>
							In this example each column spans two units, making things a
						little more challenging than the three column grid. It splits up
						each column of a three column grid into two further columns. The
						six column grid provides you with more options and opportunities
						to fine tune smaller details. If you are working on a content-rich
						site and need to park a lot of information, a six column grid could
						be a smart starting point for experimentation. Since it maybe an
						advanced grid, I would maybe not recommend starting out with it on
						your first rodeo.
						</p>
					</section>
					
					
				</article>
				
				<article id="contact-button-container">
					<center>
						
						 
						 <form class="link-button">
							<input id="contact-button"  type="button" onclick="window.location.href = 'https://www.w3docs.com;';" value="Contact Now"/>
						</form>
					</center>
				</article>
				
				
				
			</div>
		</main>
{% endblock %}
